@import "libs";
@import "vars";
@import "_global";
@import "fonts";

.header-vh {
    min-height: 100vh;
}

.line-nav {
    padding: 41px 0;
    font-family: $fonts-menu;
    background: #000;
    text-transform: uppercase;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 30px;
    }
    a {
        color: $color-menu;
    }
    .social {
        max-width: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            height: 27px;
            width: 27px;
        }
    }
}

.menu {
    width: 875px;
    display: flex;
    justify-content: space-between;
    &__link {
        font-size: 13px;
        position: relative;
        &::before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-menu;
            transition: 0.5s;
            transform: scaleX(0) translateY(5px);
        }
            &:hover:before {
            transform: scaleX(1) translateY(5px);
        }
    }
    
}

.cabinet {
    padding: 70px 0 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
        margin-bottom: 70px;
        display: inline-block;
    }
}

.cabinet-box {
    max-width: 630px;
    width: 100%;
}

.cabinet-box__content {
    position: relative;
}

.cabinet-box__tabs {
    display: flex;
}

.tab-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #C4C4C4;
    max-width: 315px;
    width: 100%;    
    text-align: center;
    padding-bottom: 11px;
    cursor: pointer;
}

.tab-btn.active {
    color: #000;
    border-bottom: 1px solid #000;
}

.form {
    position: absolute;
    top: 0;
    width: 100%;
    background: #F2F2F2;
    padding: 51px 82px 51px 79px;
    opacity: 0;
    transition: 1s;
    input {
        font-family: "Montserrat", sans-serif;
        width: 100%;
        padding: 13px 13px 12px 12px;
        margin-bottom: 29px;
        outline: none;
        font-size: 15px;
    }
}

.form.active {
    opacity: 1;
    z-index: 1;
}

.form-btn {
    width: 106px;
    margin-top: 25px;
    margin-bottom: 14px;
}

.form-rest {
    display: block;
    position: relative;
    width: 85px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    transition: .5s ease;
    &::before {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-menu;
        transition: 0.5s;
        transform: scaleX(0) translateY(5px);
    }
        &:hover:before {
        transform: scaleX(1) translateY(5px);
    }
}




@import "media";
