@import "libs";
@import "vars";
@import "_global";
@import "fonts";

// Box личного кабинете. Начало
// Страница стартовая index. Начало
.line-nav {
    font-family: $fonts-menu;
    background: #000;
    text-transform: uppercase;
    position: relative;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 30px;
    }
    a {
        color: $color-menu;
    }
    .social {
        max-width: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            height: 27px;
            width: 27px;
        }
    }
}


.sub-menu {
    display: none;
    left: 0;
    top: 111px;
    width: 100%;
    padding: 17px 0 50px;
    position: absolute;
    background: #fff;
    z-index: 1;
    text-transform: none;
    animation: fadeIn .7s ease-in-out;
    .container {
        align-items: flex-start;
    }
    &::after  {
        content: '';
        top: -13px;
        left: 42%;
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent #ffffff transparent;
        z-index: 5;
        transition: .5s ease;
    }   
}


.menu {
    width: 875px;
    display: flex;
    justify-content: space-between;
    &__link {
        font-size: 13px;
        position: relative;
        padding: 49px 0;
        display: block;
    }
}

.menu__hover:hover .sub-menu {
    display: flex;
}

.sub-menu-inner {
    font-size: 14px;
}

.sub-menu-inner__item a{
    font-family: "Montserrat", sans-serif;
    color: #000;
}

.sub-menu-inner__item:first-child a {
    font-family: "Trajan Pro", sans-serif;
    display: inline-block;
    font-size: 12px;
    color: #C2A969;
    margin-bottom: 10px;
}

.cabinet {
    height: 100%;
    padding: 70px 0 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        margin-bottom: 70px;
        display: inline-block;
    }
}

.cabinet-box {
    max-width: 630px;
    width: 100%;
}

.cabinet-box__content {
    position: relative;
}

.cabinet-box__tabs {
    display: flex;
}

.tab-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #C4C4C4;
    max-width: 315px;
    width: 100%;    
    text-align: center;
    padding-bottom: 11px;
    cursor: pointer;
}

.tab-btn.active {
    color: #000;
    border-bottom: 1px solid #000;
}

.form {
    display: none;
    width: 100%;
    background: #F2F2F2;
    padding: 51px 82px 51px 79px;
    animation: fadeIn .7s ease-in-out;
    input {
        font-family: "Montserrat", sans-serif;
        width: 100%;
        padding: 13px 13px 12px 12px;
        margin-bottom: 29px;
        outline: none;
        font-size: 15px;
    }
}

.form.active {
    display: block;
}

.form-btn {
    width: 106px;
    margin-top: 25px;
    margin-bottom: 14px;
}

.form-btn-crieation {
    width: 227px;
}

.form-rest {
    display: block;
    position: relative;
    width: 85px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    transition: .5s ease;
    &::before {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-menu;
        transition: 0.5s;
        transform: scaleX(0) translateY(5px);
    }
        &:hover:before {
        transform: scaleX(1) translateY(5px);
    }
}

.footer .line-nav {
    padding-top: 75px;
    padding-bottom: 50px;
}

.line-nav .footer-social {
    max-width: 93px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border: 1px solid #C2A969;
        border-radius: 50%;
        margin-bottom: 14px;
        transition: .5s ease;
        &:hover {
            background: #C2A969;
            color: #000;
        }
    }
}


//Страница стартоваяюКонец

.personal {
    padding-top: 65px;
    padding-bottom: 80px;
    text-align: center;
    min-height: 911px;
}

.box-data {
    display: flex;
    .form {
        display: block;
        opacity: 1;
        max-width: 363px;
        width: 100%;
        padding: 0;
        text-align: left;
        h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 18px;
        }
        span {
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            font-size: 9px;
        }
        .form-btn {
            max-width: 152px;
            width: 100%;
            margin-left: 0;
        }
        .form-link {
            width: 92px;
            margin-left: 30px;           
            font-weight: 300;
            font-size: 10px;
        }
    }
    .cabinet-box__tabs {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .cabinet-box__content_container {
        width: 995px;
        background: #F2F2F2;
        padding: 28px 64px 22px;
        .form {
            position: relative;
        }
    }
    .cabinet-box__content_container {
        display: none;
        animation: fadeIn .7s ease-in-out;
    }
    .cabinet-box__content_container.active {
        display: block;
    }
    .cabinet-box__tabs {
        max-width: 325px;
        width: 100%;
    }
    .tab-btn {
        font-family: $fonts-menu;
        text-transform: uppercase;
        color: #C4C4C4;
        max-width: 100%;
        width: 100%;    
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 15px;
        color: #000000;
        padding-bottom: 0;
        border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.5);
    }
    .tab-btn.active{
        background: #F2F2F2;
        border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0);
    }

}

.card__head {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 18px;
    text-align: left;
}

.card__item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    max-width: 819px;
    width: 100%;
    padding: 20px 39px 20px 9px;
    margin-bottom: 19px;
    .card__post {
        font-family: "Montserrat", sans-serif;
        text-align: left;
    }
    .card__head {
        font-weight: 600;
        font-size: 12px;
        color: #000000;
        margin-bottom: 7px;
    }
    .card__text {
        font-weight: 300;
        font-size: 12px;
        color: #000000;
    }
    .card__btn,
    .card__close {
        margin: 0;
    }

    .card__btn {
        width: 137px;
        margin-left: 27px;
        letter-spacing: 0.4em;
        font-weight: 500;
        font-size: 12px;
    }
    .card__close {
        background: none;
        color: #000;
        border: none;
        font-size: 20px;
        margin-left: 73px;
    }
}

/* base style */
.stepper{
    display: inline-block;
    max-width: 120px;
    width: 100%;
    position: relative;
    margin-left: 85px;
}

.stepper__input{
    width: 100%;
    height: 32px;
    padding: .375rem .75rem;
    border: none;
    -moz-appearance: textfield;
}

.stepper__input:focus{
    color: #333;
    background-color: #fff;
    border-color: #c4c4c4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.stepper__controls [spinner-button="up"],
.stepper__controls [spinner-button="down"]{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    outline: none;
    border: none;
    background-color: #fff;
    height: 50%;
    font-size: 15px;
    font-weight: 600;
    line-height: 0;
    transition: all ease 0.25s;
}

.stepper__controls [spinner-button="up"]:hover,
.stepper__controls [spinner-button="down"]:hover {
    cursor: pointer;
}

    /* style 2 */
.stepper--style-2{
    max-width: 72px;
    border: 1px solid #000;
}

.stepper--style-2 .stepper__input{
    text-align: center;
}

.stepper--style-2 [spinner-button="up"],
.stepper--style-2 [spinner-button="down"] {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: -1px;
    width: 1.5rem;
    z-index: 1;
}

.stepper--style-2 [spinner-button="up"] {
    right: 0;
    margin-left: -1px;
}

.stepper--style-2 [spinner-button="down"] {
    left: 0;
    margin-right: -1px;
}

.panel {
    width: 100%;
    margin-bottom: 15px;
    &__list li {
        padding: 0 15px;
        border-bottom: none;
        a {
            color: #555;
        }
    }

}

.panel-heading a {
    display: block;
    color: #181818;
    position: relative;
    transition: 0.3s;
    padding: 5px 0;
}

.panel-heading a i {
    font-size: 16px;
    width: 30px;
}

.panel__last {
    position: relative;
    display: flex;
    align-items: center;
}

.panel-heading .panel__last:after {
    content: '';
    font-family: FontAwesome;
    position: absolute;
    right: -55px;
    top: 7px;
    background: url(../img/change.png) no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}

.in .panel__last::after {
    transform: rotate(180deg);
    top: -3px;
}

.in {
    font-weight: 600;
    margin-bottom: 16px;
}

.panel-collapse {
    display: none;
}

.panel__list {
    display: flex;
    justify-content: space-around;
}

.panel-collapse {
    .panel__list {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    .panel-body {
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        padding: 21px 73px 27px 64px;
        width: 955px;
        margin-left: -45px;
        margin-bottom: 30px;
    }
    .panel__item_head {
        display: flex;
        width: 100%;
        padding: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        span:nth-child(2){
            margin-left: 198px;
        }
        span:nth-child(3){
            margin-left: 94px;
        }
        span:nth-child(4){
            margin-left: 109px;
        }
        span:nth-child(5){
            margin-left: 109px;
        }
    }
    .panel__list-inner {
        display: flex;
        align-items: center;
        .panel__item-inner:nth-child(2){
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 84px;
            font-weight: 300;
            font-size: 12px;
        }
        .panel__item-inner:nth-child(3){
            margin-left: 121px;
            font-weight: 300;
            font-size: 12px;
        }
        .panel__item-inner:nth-child(4){
            margin-left: 134px;
            font-weight: 300;
            font-size: 12px;
        }
        .panel__item-inner:nth-child(5){
            margin-left: 100px;
            font-weight: 300;
            font-size: 12px;
        }
        .panel__box {
            display: flex;
            align-items: center;
            position: relative;
            img {
                width: 56px;
                height: 56px;
                margin-left: 8px;
            }
            p {
                width: 108px;
                font-weight: 300;
                font-size: 12px;
                text-align: left;
                margin-left: 25px;
            }
            span {
                font-weight: 300;
                font-size: 12px;
                position: absolute;
                top: 0;
            }
        }
    }
}

.panel-box {
    margin-bottom: 30px;
}

.story__head {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 97px;
    text-align: left;
}

.story__container {
    font-family: "Montserrat", sans-serif;
}

.story__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        bottom: -10px;
    }
}

// Box личного кабинете. Конец

// indexz. Начало

.basics {
    padding: 23px 0 35px;
}


// index/ Конец


@import "media";
