@import "libs";
@import "vars";
@import "_global";
@import "fonts";

.line-nav {
    padding: 41px 0;
    font-family: $fonts-menu;
    background: #000;
    text-transform: uppercase;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 30px;
    }
    a {
        color: $color-menu;
    }
    .social {
        max-width: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            height: 27px;
            width: 27px;
        }
    }
}

.menu {
    width: 875px;
    display: flex;
    justify-content: space-between;
    &__link {
        font-size: 13px;
        position: relative;
        &::before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-menu;
            transition: 0.5s;
            transform: scaleX(0) translateY(5px);
        }
            &:hover:before {
            transform: scaleX(1) translateY(5px);
        }
    }
    
}

.cabinet {
    padding: 70px 0 92px;
}




@import "media";
